openai
uvicorn
fastapi_utils
sqlalchemy
rocketry
gradio_client
opencv-python
torch 
torchvision
elevenlabs
sounddevice
soudfile


# Install the package
#pip install git+https://github.com/xinyu1205/recognize-anything.git


